@font-face {
    font-family: robotoBlack;
    src: url(../fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: robotoBlackItalic;
    src: url(../fonts/Roboto-BlackItalic.ttf);
}

@font-face {
    font-family: robotoBlack;
    src: url(../fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: robotoBold;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: robotoBoldItalic;
    src: url(../fonts/Roboto-BoldItalic.ttf);
}

@font-face {
    font-family: robotoItalic;
    src: url(../fonts/Roboto-Italic.ttf);
}


@font-face {
    font-family: robotoLight;
    src: url(../fonts/Roboto-Light.ttf);
}


@font-face {
    font-family: robotoLightItalic;
    src: url(../fonts/Roboto-LightItalic.ttf);
}


@font-face {
    font-family: robotoMedium;
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: robotoMediumItalic;
    src: url(../fonts/Roboto-MediumItalic.ttf);
}


@font-face {
    font-family: robotoRegular;
    src: url(../fonts/Roboto-Regular.ttf);
}


@font-face {
    font-family: robotoThin;
    src: url(../fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: robotoThinItalic;
    src: url(../fonts/Roboto-ThinItalic.ttf);
}


