<div class="col-md-10 main">
    <h1>Dashboard</h1>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Avarage Mood (Last 4 Weeks)</div>
            <div class="panel-body">
                <canvas id="line-chart" width="800" height="450"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Mood reviews (Current Week)</div>
            <div class="panel-body">
                <canvas id="pie-chart" width="800" height="450"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Top 5 Reason - Tags</div>
            <div class="panel-body">
                Panel content
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Reasons (Current Week)</div>
            <div class="panel-body">
                <canvas id="bar-chart-horizontal" width="800" height="450"></canvas>
            </div>
        </div>
    </div>
</div>
