<div class="col-md-10 main">
    <h1>Dashboard</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default selectweekbox">
                <div class="col-md-3 center-block">
                    <h5>
                        <span class="label label-warning selectweeklabel">Select Week:</span>
                    </h5>
                </div>
                <div class="col-md-9">
                    <select class="form-control" ng-model="weekTake"
                            ng-options="week.name as week.name for week in companyFilledWeeksShow"></select>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Mood Averages(Last 4 Weeks)</div>
                <div class="panel-body">
                    <canvas id="line-mood-chart" width="800" height="450"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Mood reviews (Current Week)</div>
                <div class="panel-body">
                    <canvas id="pie-chart" width="800" height="450"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Top 5 Reason - Tags</div>
                <div class="panel-body" ng-repeat="tag in moodTagGroup">
                    # <label>{{tag.name}}</label> ({{tag.length}})
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Reasons (Current Week)</div>
                <div class="panel-body">
                    <canvas id="bar-chart-horizontal" width="800" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Tag Popularities (Last 4 Weeks)</div>
                <div class="panel-body">
                    <canvas id="line-chart" width="800" height="300"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>