<div class="col-md-10 main">
    <h1>Employees</h1>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" target="_self" href="#allemp">All Employees</a></li>
        <li><a data-toggle="tab" target="_self" href="#invemp">Invite Employee</a></li>
    </ul>
    <div class="tab-content">
        <div id="allemp" class="tab-pane fade in active">
            <h3>All Employees</h3>
            <form class="form-horizontal">
                <div class="control-group">
                    <div class="controls form-inline">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><span
                                    class="fa fa-user-circle"></span></span>
                            <input type="text" class="form-control" placeholder="Name / Email"
                                   aria-describedby="basic-addon1" ng-model="$ctrl.search">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon2"><span class="fa fa-users"></span></span>
                            <input type="text" class="form-control" placeholder="Department"
                                   aria-describedby="basic-addon1" ng-model="$ctrl.search2">
                        </div>
                    </div>
                </div>
            </form>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th># <span class="caret"></span></th>
                        <th>
                            Name
                            <a href="" ng-click="sortBy('name')">
                                <i class="fa fa-sort" aria-hidden="true"></i>
                            </a>
                        </th>
                        <th>
                            Email Address
                            <a href="" ng-click="sortBy('email')">
                                <i class="fa fa-sort" aria-hidden="true"></i>
                            </a>
                        </th>
                        <th>
                            Department
                            <a href="" ng-click="sortBy('department.name')">
                                <i class="fa fa-sort" aria-hidden="true"></i>
                            </a>
                        </th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="employee in getEmployeeList | filter:$ctrl.search | filter:$ctrl.search2
                        | orderBy:propertyName:reverse track by $index">
                        <tr>
                            <td>{{$index+1}}</td>
                            <td>{{employee.name}} {{employee.last_name}}</td>
                            <td>{{employee.email}}</td>
                            <td>{{employee.department.name}}</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn-action btn-default dropdown-toggle" type="button" id="menu1"
                                            data-toggle="dropdown">Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                        <li role="presentation">
                                            <a role="menuitem" target="_self" tabindex="-1" ng-click="remove(employee)">
                                                Remove from Company
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" target="_self" tabindex="-1"
                                               ng-click="changedEmployee(employee); dep = !dep">
                                                Change Department
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td ng-show="dep">
                                <select class="form-control" ng-model="newDepartment"
                                        ng-change="changedDepartment(newDepartment)"
                                        ng-options="department.name for department in departments">
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="invemp" class="tab-pane fade">
            <h3>Invite Employee</h3>
            <form class="form-horizontal" name="inviteEmployee" novalidate>
                <div class="control-group">
                    <div class="controls form-inline">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon4">
                                <span class="fa fa-envelope"></span>
                            </span>
                            <input type="email" class="form-control" placeholder="Email" aria-describedby="basic-addon1"
                                   ng-model="add.employeeEmail">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon5">
                                <span class="fa fa-user-circle"></span>
                            </span>
                            <input type="text" class="form-control" placeholder="Employee Name"
                                   aria-describedby="basic-addon1" ng-model="add.employeeName">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon6">
                                <span class="fa fa-user-circle"></span>
                            </span>
                            <input type="text" class="form-control" placeholder="Employee Lastname"
                                   aria-describedby="basic-addon1" ng-model="add.employeeLastname">
                        </div>
                        <select class="form-control" ng-model="add.employeeDepartment"
                                ng-options="department.id as department.name for department in departments">
                        </select>
                        <button class="btn-invite btn-default" type="button" ng-click="invite(add)">
                            <span class="fa fa-plus"></span>
                            Invite Employee
                        </button>
                    </div>
                </div>
            </form><br>
            <div class="row">
                <div class="col-md-2">
                    <button class="btn btn-warning" type="button" ng-click="dep = !dep">
                        <span class="fa fa-plus"></span>
                        Create New Department
                    </button>
                </div>
                <div class="col-md-4">
                    <div ng-show="dep">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="department.name" placeholder="New Department Name"
                                           aria-describedby="basic-addon1">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" ng-click="newDepartment(department)">Save</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>