<!DOCTYPE html>
<html>
<head>
  <title>Moodik Login</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/login.css">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
</head>
<body>
<div class="container-fluid">
    <div class="row centered">
       <div class="col-sm-3 col-md-3"></div>
        <div class="col-sm-6 col-md-6">
            <div class="bigbox">
                <div class="leftside"><h1>Welcome</br>back!</h1>
                    <div class="loginform">
                        <div class="input-group">
                            <span class="input-group-addon" id="sizing-addon1">
                                <span class="fa fa-envelope"></span>
                            </span>
                            <input type="text" class="form-control" placeholder="Email..." aria-describedby="sizing-addon1">
                        </div>
                        </br>
                        <div class="input-group">
                            <span class="input-group-addon" id="sizing-addon1">
                                <span class="fa fa-lock"></span>
                            </span>
                            <input type="text" class="form-control" placeholder="Password..." aria-describedby="sizing-addon1">
                        </div>
                        <a href="#" class="btn btn-login btn-block" role="button">Sign In</a> 
                        <p>Moodik hesabınız yok mu? Hemen <a href="#" >üye olun!</a><p>
                    </div>
                </div>
                <div class="rightside"><h1><b>mood</b>ik</h1></br><p>Çalışanlarınızın </br>motivasyonunu takip edin!<p></div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3"></div>
    </div>
</div>
</body>
</html>
