<div class="container-fluid">
 	<div class="row">
		<div class="col-md-2 popup emotion">
			<h1>How was your mood in the past week?</h1>
            <ul>
				<li><a href="#"><img src="img/emotion/1.png"/></a></li>
				<li><a href="#"><img src="img/emotion/2.png"/></a></li>
				<li><a href="#"><img src="img/emotion/3.png"/></a></li>
				<li><a href="#"><img src="img/emotion/4.png"/></a></li>
				<li><a href="#"><img src="img/emotion/5.png"/></a></li>
			</ul>
            <h1>Choose one/multiple reasons</h1>
			<li><a href="#" class="btn btn-tag" role="button">Career</a></li>
			<li><a href="#" class="btn btn-tag" role="button">Colleagues</a></li>
			<li><a href="#" class="btn btn-tag" role="button">Communication</a></li>
			<li><a href="#" class="btn btn-tag" role="button">Health</a></li>
			<li><a href="#" class="btn btn-tag" role="button">Holidays</a></li>
			<li><a href="#" class="btn btn-tag" role="button">Task area/Activity</a></li>
			<li><a href="#" class="btn btn-tag" role="button">Work equipment</a></li>
			<li><a href="#" class="btn btn-tag" role="button">Working time</a></li>
			<li><a href="#" class="btn btn-tag" role="button">Managers</a></li>
			<li><a href="#" class="btn btn-tag" role="button">Workload</a></li>
			<li><a href="#" class="btn btn-tag" role="button">Work environment</a></li>
			<li><a href="#" class="btn btn-tag" role="button">Salary training</a></li>
			<li><a href="#" class="btn btn-tag" role="button">Professional training</a></li>
			<li><a href="#" class="btn btn-tag" role="button">Others</a></li>
			<li><a href="#" class="btn btn-tag" role="button">Organization</a></li>
            <input type="text" class="form-more" placeholder="More...">
            <a href="#" class="btn btn-login btn-block" role="button">Save</a>
		</div>
	</div>
</div>

