<div class="col-md-10 main">
    <h1>My Mood</h1>
    <div class="row">
    <div class="col-md-6 mymoodcase">
        <div class="col-md-3">
            <div class="panel panel-default panel-mymood">
                <div class="panel-heading">Total</div>
                <div class="panel-body panel-moodwidget" style="height: 232px;">
                    <h1 ng-init="totalMoods">
                        {{totalMoods}}
                    </h1>
                    <br>
                    <p>given moods</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default panel-mymood">
                <div class="panel-heading">Avarage Mood</div>
                <div class="panel-body panel-moodwidget" style="height: 232px;">
                    <h1><img src="img/emotion/{{getMyMoodAverage.average}}.png"></h1>
                    <p>
                        {{mapMood[getMyMoodAverage.average-1]}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Distribution</div>
                <div class="panel-body panel-moodwidget" style="line-height: 100px;">
                    <div class="chart-container center-block"  style="height: 200px; width: 300px;">
                        <canvas id="doughnut-distribution"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel-default mymoodlinechart">
                    <canvas id="line-chart-graph"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
</div>