<!DOCTYPE html>
<html>
<head>
  <title>Moodik New Password</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/singup.css">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
 </head>
<body>
<div class="container-fluid">
    <div class="row centered">
        <div class="col-sm-3 col-md-3">
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="bigbox">
                <div class="leftside"><h1>New Password</h1>
                    <div class="loginform">
                        <div class="input-group">
                            <span class="input-group-addon" id="sizing-addon1"><span class="fa fa-lock"></span></span>
                            <input type="text" class="form-control" placeholder="New Password..." aria-describedby="sizing-addon1">
                        </div>
                        </br>
                        <div class="input-group">
                            <span class="input-group-addon" id="sizing-addon1"><span class="fa fa-lock"></span></span>
                            <input type="text" class="form-control" placeholder="Confirm password..." aria-describedby="sizing-addon1">
                        </div>
                        <a href="#" class="btn btn-login btn-block" role="button">Confirm</a> 
                        <p>Moodik, şifrenizi hatırladınız mı? <a href="#" >Giriş Yapın!</a><p>
                    </div>
                </div>
            <div class="rightside"><h1><b>mood</b>ik</h1></br><p>Çalışanlarınızın </br>motivasyonunu takip edin!<p></div>
            </div>
       </div>
    <div class="col-sm-3 col-md-3">
    </div>
  </div>
</div>
</body>
</html>