<div class="container-fluid">
    <div class="row centered">
        <div class="col-sm-3 col-md-3">
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="bigbox">
                <div class="leftsideli"><h1>New Password</h1>
                    <form name="newPassword">
                        <div ng-messages="newPassword.$error" role="alert"  ng-messages-multiple>
                            <div class="newPassword">
                                <div class="input-group" ng-class="{ 'has-error': newPassword.email.$touched &&
                                    newPassword.email.$invalid }">
                                            <span class="input-group-addon" id="sizing-addon1">
                                                <span class="fa fa-envelope"></span>
                                            </span>
                                    <input name="email" type="email" class="form-control" placeholder="Email..."
                                           aria-describedby="sizing-addon1" ng-model="reset.email" required="required">
                                </div>
                                <div ng-message="email">This field must be a valid email address.</div>
                                <br>
                                <div class="input-group" ng-class="{ 'has-error': newPassword.password.$touched &&
                                    newPassword.password.$invalid }">
                                            <span class="input-group-addon" id="sizing-addon2">
                                                <span class="fa fa-lock"></span>
                                            </span>
                                    <input name="password" type="password" class="form-control" placeholder="Password..."
                                           aria-describedby="sizing-addon1" ng-model="reset.password"
                                           required="required" ng-minlength="6">
                                </div>
                                <br>
                                <div class="input-group" ng-class="{ 'has-error': newPassword.passwordCheck.$touched &&
                                    newPassword.passwordCheck.$invalid }">
                                            <span class="input-group-addon" id="sizing-addon3">
                                                <span class="fa fa-lock"></span>
                                            </span>
                                    <input name="passwordCheck" type="password" class="form-control"
                                           placeholder="Password confirmation..." aria-describedby="sizing-addon1"
                                           ng-model="reset.password_confirmation" required="required" ng-minlength="6">
                                </div>
                                <div ng-message="minlength">Password can be at least 6 characters long.</div>
                                <a href="" class="btn btn-login btn-block" ng-click="postNewPassword(reset)"
                                   ng-disabled="newPassword.$invalid">Sign Up!</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="rightsideli">
                    <h1><b>mood</b>ik</h1>
                    </br>
                    <p>Çalışanlarınızın </br>motivasyonunu takip edin!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
        </div>
    </div>
</div>
