<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Dashboard</div>
                <div class="panel-body">
                    You need to activate your account. Please check your email! <hr>
                    If you didn't recive activation code
                    <a href="" ng-click="sendCode()">New Code</a>
                    {{message}}
                </div>
            </div>
        </div>
    </div>
</div>